{% extends 'base.html' %}
{% block content %}
<h2>⚔️ Combat Simulator Setup</h2>

<form method="POST" action="{% url 'simulate_combat' %}" class="combat-setup-form">
    {% csrf_token %}
    

    <div class="action-buttons">
        <button type="submit" class="start-combat-btn">⚔️ Start Combat</button>
        <button type="reset" class="reset-btn">🔄 Reset</button>
    </div>
    
    <div class="team-container">
        <!-- Team A -->
        <div class="team team-a">
            <h3>🟥 Team A</h3>
            <fieldset>
                <legend>📜 Characters</legend>
                {% for character in characters %}
                    <label>
                        <input type="checkbox" name="team_a_combatants" value="char_{{ character.id }}">
                        {{ character.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
            
            <fieldset>
                <legend>🐉 Monsters</legend>
                {% for monster in monsters %}
                    <label>
                        <input type="checkbox" name="team_a_combatants" value="mon_{{ monster.id }}">
                        {{ monster.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
            
            <fieldset>
                <legend>💀 Basic Monsters</legend>
                {% for basic_monster in basic_monsters %}
                    <label>
                        <input type="checkbox" name="team_a_combatants" value="bmon_{{ basic_monster.id }}">
                        {{ basic_monster.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
        </div>
        
        <!-- Team B -->
        <div class="team team-b">
            <h3>🟦 Team B</h3>
            <fieldset>
                <legend>📜 Characters</legend>
                {% for character in characters %}
                    <label>
                        <input type="checkbox" name="team_b_combatants" value="char_{{ character.id }}">
                        {{ character.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
            
            <fieldset>
                <legend>🐉 Monsters</legend>
                {% for monster in monsters %}
                    <label>
                        <input type="checkbox" name="team_b_combatants" value="mon_{{ monster.id }}">
                        {{ monster.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
            
            <fieldset>
                <legend>💀 Basic Monsters</legend>
                {% for basic_monster in basic_monsters %}
                    <label>
                        <input type="checkbox" name="team_b_combatants" value="bmon_{{ basic_monster.id }}">
                        {{ basic_monster.name }}
                    </label><br>
                {% endfor %}
            </fieldset>
        </div>
    </div>
    
   
</form>
{% endblock %}
